.sidebar-container {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  background-color: #23272a;
  height: 100%;
}
.studyGroups {
  display: flex;
  flex-direction: column;
}
.groupsContainer {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.groupsContainer::-webkit-scrollbar {
  display: none;
}

.sidebar__groups {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.sidebar__groups-main {
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.sidebar__groups:hover {
  /* background-color: white; */
  border-radius: 20px;
  color: var(--special);
  transition: color 100ms ease-out;
}

.sidebar__groups__header {
  display: flex;
  align-items: center;
  flex: 0.2;
}
.sidebar__groups__add {
  cursor: pointer;
  flex: 1;
}

.sidebar__groups__add:hover {
  color: var(--special);
}

.sidebar--active {
  color: var(--special);
}

.feedOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
}

.feedOption > .MuiSvgIcon-root {
  padding: 20px;
}

.feedOption > h2 {
  font-size: 20px;
  flex: 1;
}

.sidebar__groups > .MuiAvatar-root {
  margin: 20px;
}

.activeGroup {
  color: var(--special);
}
