* {
  margin: 0;
}
:root {
  --special: #3f51b5;
  --speed: 500ms;
}

.app {
  background-color: #f9f9f9;
  min-width: 500px;
  font-family: Roboto;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
