.groupPage {
  display: flex;
  width: 100%;
  height: 100%;
}

.channelSidebar {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-components);
  padding-top: 20px;
}

.channelSidebar-header > h2 {
  font-weight: 500;
  font-size: 20px;
  padding-left: 10px;
}

.channelSidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channelActive {
  border-right: medium solid var(--special);
  border-radius: 0px 3px 3px 0px;
}

.channelContent {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  /* padding-top: 20px; */
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.channelContent::-webkit-scrollbar {
  display: none;
}
.channelContent > h2 {
  margin-left: 20px;
}

.channels {
  cursor: pointer;
  color: #99aab5;
  margin-top: 10px;
  margin-left: 10px;
}

.mugsheet {
  margin: 20px;
  background-color: var(--special);
  border-radius: 5px;
}

.addTask-container {
  display: flex;
  align-items: center;
}
.addTask-container > .MuiSvgIcon-root {
  padding-left: 10px;
}
.addTask ::placeholder {
  font-size: 20px;
  font-weight: 500;
}

.title ::placeholder {
  font-size: 26px;
}

.delete {
  color: lightgrey;
}

.existingTask {
  width: auto;
}

.taskContainer {
  display: flex;
  align-items: center;
}
.taskContainer .clearIcon {
  visibility: hidden;
}
.taskContainer:hover .clearIcon {
  visibility: visible;
}
.newSheet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 5%;
}

.newSheet ::placeholder {
  color: #474a4e;
  font-size: 20px;
}

.sheetHeader {
  display: flex;
  align-items: center;
}
.mugsheet .deleteIcon {
  visibility: hidden;
}
.mugsheet:hover .deleteIcon {
  visibility: visible;
}
