.dashboard--main {
  display: flex;
  height: 90%;
}

.dashboard {
  flex: 0.8;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  overflow-y: scroll;
  min-width: fit-content;
}
.dashboard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard::-webkit-scrollbar {
  display: none;
}
