.dashboard--main {
  display: flex;
  height: 90%;
}

.dashboard {
  flex: 0.6;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  overflow-y: scroll;
  min-width: fit-content;
  background-color: #2c2f33;
}
.dashboard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard::-webkit-scrollbar {
  display: none;
}
