.MuiDialog-root {
  font-family: Roboto;
  font-weight: 500;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  cursor: pointer;
  margin-right: 20px;
}
