.friendlist {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.friendlist::-webkit-scrollbar {
  display: none;
}
.friendlist-header > h2 {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.friendlist-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.friend {
  display: flex;
  align-items: center;
  padding: 20px;
}

.friend > h3 {
  margin-left: 5%;
  font-weight: 500;
}
