.friendlist {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  margin-top: 10px;
  background-color: white;
  height: 100%;
  border-radius: 20px;
}

.friendlist-header > h2 {
  padding: 10px;
}

.friendlist-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.friend {
  display: flex;
  align-items: center;
  padding: 20px;
}

.friend > h3 {
  margin-left: 5%;
}
