.updateContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.updateItem {
  display: flex;
  align-items: center;
  padding: 10px;
}

.updateItemText {
  padding-left: 10px;
}

.noUpdates {
  color: darkgray;
  font-style: italic;
}

.updateItem-header {
  display: flex;
  margin-left: 10px;
}
.updateItem-body {
  display: flex;
  flex-direction: column;
}
.updateItem-time {
  font-size: 10px;
  color: darkgray;
}
