.updateContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.updateItem {
  display: flex;
  align-items: center;
  padding: 10px;
}

.updateItemText {
  padding-left: 10px;
}
